.multitsplot-main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.multitsplot-container{
    width: 100%;
}

.multitsplot-container rect {
    fill: none;
    stroke: red;
    stroke-width: 1px;
}

.multitsplot-container .curvepath {
    fill: none;
    stroke: red;
    stroke-width: 1px;
}

.multitsplot-container .d3-line-chunked-defined {
    stroke: blue;
    stroke-width: 1px;
    fill: url(#sensor-gradient);    
    fill-opacity: 0.25;
}