.radarplot-main {

}

.radarplot-main .axis .line {
    stroke: black;
    stroke-width: 1px;
}

.radarplot-main .ticks .line {
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 1 3;
    fill: none;
}

.radarplot-main .axis .text {
    font-family: "Open Sans";
    font-size: 11px;
    fill: black;
}

.radarplot-main .rawplot {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}
